{% extends "content/base.html" %}


{% block header %}
    {{ article.title }}
{% endblock %}

{% block main %}
{% if article.image %}
        <img src="{{ article.image }}" 
             alt="{{ article.title }}" 
             style="width: 700px; height: auto; display: block; margin: 20px auto; border-radius: 5px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);">
    {% endif %}

    <p><strong>Popis:</strong> {{ article.description }}</p>
    <p><strong>Rok:</strong> {{ article.year }}</p>
    <p><strong>Místo:</strong> {{ article.location }}</p>
    <p><strong>Počet obětí:</strong> {{ article.casualties }}</p>
{% endblock %}