.background-title {
    font-family: 'Times New Roman', serif;
    text-align: center;
    background: url('../images/austr.png') no-repeat center;
    background-size: cover;
    color: white;
    padding: 50px;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
